@import url(https://raw.githack.com/hellbound1337/dark-discord/master/src/source.css);

.da-itemCard,
.da-popout,
.da-item,
.da-searchBarComponent,
.da-messages,
.da-messageContainer,
.da-menu,
.da-quickswitcher,
.da-input,
.da-result,
.da-layout,
.da-button,
.da-rowWrapper,
.da-installSize,
.da-select,
.container-enaOkj,
input,
.da-gridItem::before,
.da-gridItemContent,
.da-fullscreenOnMobile,
.da-peopleListItem:hover,
.da-memberListItem,
.da-enabled,
.da-defaultIndicator,
.da-messagesPopoutWrap,
.da-messageGroupWrapper,
.da-webkit,
.searchBar-3dMhjb,
.da-card,
.questionMark-CWEQZn,
.da-connection,
.connectionDelete-2Odoln,
.da-cardWrapper,
.da-subscribeTooltipWrapper,
.da-wrapper,
.da-tier,
.da-membershipDialog,
.css-1a8reka-control,
.da-previewContainer,
.css-gd8if9-control,
.da-grabber,
.da-hasValue,
.da-card::before,
.container-CpszHS,
.da-notDetected,
.da-addGamePopout,
img,
.da-wumpusTooltip,
.da-userPopout,
.root-SR8cQa,
.da-listRow,
.da-layerContainer > div > div,
.da-tooltipDisablePointerEvents,
.ui-tab-bar-item,
.da-anchor,
.da-friendSelected,
.searchBar-TUoVPN,
.bf-toolbar::before,
button,
.bd-modal-inner,
.container-3PXSwK,
.da-noiseCancellationPopout,
.layerContainer-yqaFcK > div > div > div,
.content-3xS9Lh,
.da-connectedAccount,
.da-botTag,
.role-item,
.layerContainer-yqaFcK > div,
.da-jumpButton,
.inner-2P4tQO,
.searchBar--fTZYa,
.da-gif,
.da-result::after,
.da-categoryFadeBlurple,
.da-emptyHintCard,
.searchBar-5di9mG,
.da-diversitySelectorPopout,
.da-categoryItemDefaultCategory,
.da-categorySection,
.da-marginTop4,
.da-inviteRow,
.da-channelContainer,
.css-1yegjoj-control,
.da-checkbox,
.bd-card,
.bd-search-wrapper,
#bd-customcss-detach-controls-button > button:nth-child(1),
#bd-customcss-detach-controls-button > button:nth-child(2),
#bd-customcss-detach-controls-button > button:nth-child(3),
#bd-customcss-attach-controls > ul > li > div > div > span,
.rowInner-1vvRiF.da-rowInner,
.container-cMG81i.da-container.small-2oHLgT,
.bd-toasts > div,
.content-3at_AU,
.inset-3sAvek,
.video-34IsHk,
.video-1FESK-,
.da-tierWrapper,
.da-perk,
.da-tierMarkerLabelText,
.da-pictureInPictureWindow,
.da-videoControls,
.da-perksList,
.da-ctaBar,
.inputWrapper-31_8H8,
.container-1nZlH6,
.da-regionSelectModalOption,
.elevationHigh-1PneE4,
.saturation-black,
.saturation-white,
.saturation-1FDvtn > div,
.saturation-1FDvtn,
.headerClickable-2IVFo9,
.headerDefault-1wrJcN,
.selectableItem-1MP3MQ,
.da-copyInputDefault,
.da-descriptionBox,
.da-guildDetails,
.da-featureCard,
.da-autocompleteShadow,
.toast,
.root-2VTZPJ,
.size16-1P40sf,
.tile-2naSqK,
.da-optionContainer {
  border-radius: 25px !important;
}

.da-modalHeader,
.header,
.da-headerTier2,
.separator-2-RRj_,
.css-2yldzf-control,
#bd-customcss-editor,
header.white-3xi-nx.da-white.size14-e6ZScH.header-2C89wJ.da-header,
.da-tierHeader,
.header-1F6gxU,
.headerExpanded-CUEwZ5 {
  border-radius: 25px 25px 0 0;
}

.da-footer,
.modal-body,
.css-n57xjs-menu,
.css-n57xjs-menu > div,
#bd-customcss-attach-controls,
#popout_6 > div > div > section,
.da-tierBody,
.da-changeDetails,
#popout_13 > div > div > section {
  border-radius: 0 0 25px 25px;
}

.panels-j1Uci_ {
  border-radius: 0 25px 0 0;
}

.sidebar-2K8pFh {
  border-radius: 25px 0 0 !important;
}

.modalContent-BM7Qeh.da-modalContent > div:nth-child(1) > div > button:nth-child(1),
.modalContent-BM7Qeh.da-modalContent > div:nth-child(2) > div > button:nth-child(1),
.actions-6rRvry.da-actions > div:nth-child(1),
.group-2dAfBy.flex-1O1GKY.da-group.da-flex > button:nth-child(1) {
  border-radius: 25px 0 0 25px !important;
}

.modalContent-BM7Qeh.da-modalContent > div:nth-child(1) > div > button:nth-child(4),
.modalContent-BM7Qeh.da-modalContent > div:nth-child(2) > div > button:nth-child(3),
.da-embed,
.da-unreadPill,
.actions-6rRvry.da-actions > div:nth-child(3),
.group-2dAfBy.flex-1O1GKY.da-group.da-flex > button:nth-child(3) {
  border-radius: 0 25px 25px 0 !important;
}

.da-option,
.da-graphic,
img,
.da-emojiItem,
.bd-select-options,
.wrapperPaused-19pWuK,
.da-sourceThumbnail,
#popout_13 > div > div > section > canvas,
.graph-2xSPwT.marginTop4-2BNfKC.da-graph.da-marginTop4.modeDefault-3a2Ph1.da-modeDefault > canvas {
  border-radius: 15px !important;
}

img.graphic--xq3rr.da-graphic {
  border-radius: 15px 15px 0 0 !important;
}

.da-newMessagesBar {
  border-radius: 0 0 15px 15px;
}

.format {
  border-radius: 10px !important;
}

.da-paypal::before,
.cardIcon-3U4mwZ::before {
  border-radius: 5px;
}

.tabBarItem-1b8RUP,
.emoji,
.format > img,
.da-segmentControlOption,
.da-,
.modalContent-BM7Qeh.da-modalContent > div:nth-child(1) > div > button:nth-child(2),
.modalContent-BM7Qeh.da-modalContent > div:nth-child(1) > div > button:nth-child(3),
.modalContent-BM7Qeh.da-modalContent > div:nth-child(2) > div > button:nth-child(2),
.categoryList-2Kzf65,
.da-imageLoading,
.da-footerImage,
.da-tierLogo,
.inputDefault-A2ud2y,
.input-1ppKdn,
.passthrough-1c2ewQ,
.video--KPXCT,
.title-29uC1r {
  border-radius: 0 !important;
}

#permissions-modal,
.bd-card.bd-addon-card.settings-closed,
.bd-card.bd-addon-card.settings-open.ui-switch-item,
.container-2x5lvQ,
.input-cIJ7To,
.da-regionSelectModalOption:not(:hover),
.da-auditLog {
  border: 0 !important;
}

.da-changeDetails,
.headerExpanded-CUEwZ5,
.headerClickable-2IVFo9,
.headerDefault-1wrJcN,
.input-cIJ7To.da-input.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs.da-flexCenter.da-flex.da-justifyCenter.da-alignCenter,
.divider-1pnAR2 {
  border: solid 1px !important;
  border-color: rgba(0,0,0,0.2) !important;
}

.bd-addon-header,
.headerExpanded-CUEwZ5,
.divider-1pnAR2,
.container-1giJp5 {
  border-bottom: 0 !important;
}

.bd-card-footer,
.da-changeDetails,
.divider-1pnAR2 {
  border-top: 0 !important;
}

.da-warning {
  justify-content: center;
}

.da-searchBarComponent,
.paypalInput-3MddcM,
.bd-card.bd-addon-card.settings-open.ui-switch-item > div:nth-child(1) {
  text-align: center !important;
}

.contents-18-Yxp,
.da-wumpusTooltip,
.title-3sZWYQ {
  color: var(--interactive-active) !important;
}

#user-settings > div > div.contentRegion-3nDuYy.da-contentRegion > div > div > main > div > div.content-3BhRLj.da-content > div.wrapper-3nSjSv.da-wrapper > div > button > div,
#popout_173 > div > div > button > div,
.wrapper-3nSjSv.da-wrapper > div > button > div {
  color: #7289da !important;
}

.bda-link,
.author {
  color: #b9bbbe !important;
}

.input-2VB9rf,
.inner-3ErfOT,
.bf-toolbar::before,
.da-wumpusTooltip,
.bd-switch,
.bda-settings-button,
.container-cMG81i.da-container.small-2oHLgT,
.da-regionSelectModalOption {
  background-color: var(--background-accent) !important;
}

.da-categorySection {
  background-color: var(--background-tertiary) !important;
  padding-bottom: 10px;
}

.theme-dark .notches-1sAcEM.gray-3_LNYR,
.theme-dark .notches-1sAcEM.black-1D3qCv {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%23292841'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
}

.connectionHeader-2MDqhu {
  background: none;
}

.header,
.da-inputMini {
  background-color: var(--background-tertiary) !important;
}

.role-side,
.da-questionMark,
.bd-card.bd-addon-card.settings-closed,
.bd-card.bd-addon-card.settings-open.ui-switch-item {
  background-color: var(--background-secondary) !important;
}

.perm-side {
  background-color: var(--background-primary) !important;
}

.bd-switch-checked {
  background-color: #7289da !important;
}

.headerSpotify-zpWxgT,
.topSectionSpotify-1lI0-P {
  background: #699378;
}

.wrapper-3Z-vWm {
  height: 30px;
}

.content-1LAB8Z {
  padding-top: 20px;
}

.role-item,
.bd-card.bd-addon-card.settings-closed,
.da-settingsHeader {
  padding: 10px 20px !important;
}

.searchBar-TUoVPN,
.inner-2P4tQO,
.search-2oPWTC,
.inner-3ErfOT,
.da-tierMarkerLabelText,
.mention {
  padding: 2.5px 5px;
}

.layerContainer-yqaFcK > div,
.da-quickSelectWrapper {
  padding: 5px 10px;
}

.bd-card.bd-addon-card.settings-open.ui-switch-item {
  padding: 20px;
}

.rowWrapper-2fB6P0,
.title,
.item-3eFBNF {
  margin-top: 10px;
}

.bd-scroller-wrap.bda-description-wrap.scroller-wrap.fade {
  margin-bottom: 10px;
}

.ui-tab-bar-item,
.selectableItem-1MP3MQ {
  margin-bottom: 2px;
}

.zalgo-jN1Ica {
  margin-left: 5px;
}

.paypalIcon-2dBx_b,
.da-warningIcon,
.da-categoryFade,
.da-emptyChannelIcon,
.buttons-our3p-,
#app-mount > div.layer-v9HyYc.da-layer > div > div > div > div,
.checkboxMute-14hTGS.marginReset-Mol2dw.da-checkboxMute.da-marginReset::before,
.zalgo-jN1Ica::before {
  display: none;
}

.header,
.item-3eFBNF,
#app-mount #bd-customcss-attach-controls,
.emojiRow-zIc7ZX,
.card-FDVird {
  box-shadow: none !important;
}

.da-inviteRow {
  width: 420px;
}

.bd-card.bd-addon-card.settings-open.ui-switch-item > div:nth-child(1) {
  float: none !important;
  padding-bottom: 20px;
}

.searchBar-3dMhjb.da-searchBar {
  height: 28px;
  align-items: center;
}

.public-DraftEditorPlaceholder-root {
  padding: 2.5px 7px !important;
}

.colorPickerDropper-3c2mIf {
  top: inherit !important;
  right: inherit !important;
}

.activitySectionAssets-32WyHu {
  top: 10px;
}
