.CodeMirror-hscrollbar::-webkit-scrollbar-thumb,
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb,
.auto-Ge5KZx::-webkit-scrollbar-thumb,
.contentRegionScroller-26nc1e::-webkit-scrollbar-thumb,
.infoScroller-3EYYns::-webkit-scrollbar-thumb,
.listScroller-2_vlfo::-webkit-scrollbar-thumb,
.phoneFieldScroller-2IJUdK::-webkit-scrollbar-thumb,
.popout-2sKjHu::-webkit-scrollbar-thumb,
.scroller-1IfWg_::-webkit-scrollbar-thumb,
.scroller-2wx7Hm::-webkit-scrollbar-thumb,
.scrollerBase-289Jih::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeDark-2cjlUp
  .scroller-2FKFPG::-webkit-scrollbar-thumb,
.sidebarRegionScroller-3MXcoP::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themedWithTrack-q8E3vB
  .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: var(--background-secondary-alt) !important;
  border-color: transparent !important;
}

.auto-Ge5KZx::-webkit-scrollbar-track,
.contentRegionScroller-26nc1e::-webkit-scrollbar-track {
  background-color: var(--background-secondary) !important;
}

.phoneFieldScroller-2IJUdK::-webkit-scrollbar-track {
  background-color: var(--background-primary) !important;
}

.scrollableContainer-2NUZem {
  background-color: var(--channeltextarea-background) !important;
}

.scrollerThemed-2oenus.themedWithTrack-q8E3vB
  .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background-color: var(--background-secondary) !important;
  border: 4px solid var(--background-primary) !important;
  border-radius: 8px !important;
}

.scrollableContainer-2NUZem::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

.scrollableContainer-2NUZem::-webkit-scrollbar-thumb {
  background-color: var(--background-secondary) !important;
  border-color: transparent important;
}

.da-peopleColumn,
.friendSelected-1sa4bG,
.fullscreenOnMobile-1bD22y,
.footer-2gL1pp,
.selected-1Tbx07,
.tierMarkerInProgress-24LMzJ,
.iconWrapper-3LVgIo,
.card-3DjzTQ,
.tierHeaderLocked-1s2JJz,
.uploadModal-2ifh8j,
.bd-select-option:hover,
.button-3Ijpww,
.emptyHintCard-2mUdMe {
  background: var(--background-primary) !important;
}

.inset-3sAvek,
.popout-103y-5,
.css-n57xjs-menu,
#MemberCount,
.body-3iLsc4,
.footer-1fjuF6,
.da-tierBody,
.autocomplete-1vrmpx,
.modal-yWgWj-,
.item-3eFBNF,
.bd-addon-card,
.sectionTag-pXyto9,
.pageWrapper-1PgVDX,
.inviteRow-2L02ae:hover,
.css-3vaxre-menu,
.colorPickerCustom-2CWBn2,
.da-auditLog,
.bd-select-options,
.footer-3mqk7D,
.contentWrapper-3WC1ID {
  background: var(--background-secondary) !important;
}

.button-2CgfFz,
.popoutList-T9CKZQ,
.addGamePopout-2RY8Ju {
  background-color: var(--background-secondary) !important;
}

.input-2VB9rf,
.button-38qaLQ {
  background: var(--background-secondary-alt) !important;
}

.panels-j1Uci_,
.codeRedemptionRedirect-1wVR4b,
.headerNormal-T_seeN,
.header-2bNvm4,
.perksModal-fSYqOq,
.tierMarkerBackground-3q29am,
.notice-3bPHh-,
.card-3DjzTQ:hover,
.css-12hk9yc-control,
.css-1adxh11-control,
.regionSelectModalOption-2DSIZ3:hover,
.elevationHigh-1PneE4,
.emojiInput-1aLNse,
.elevationBorderHigh-2WYJ09,
.guildSettingsAuditLogsUserFilterPopout-3Jg5NE,
.tierHeaderContent-2-YfvN,
.bd-select-option.selected,
.inspector-S2gM3e,
.diversitySelectorPopout-3FiGaM,
.popout-38lTFE {
  background: var(--background-tertiary) !important;
}

.bf-toolbar::before,
.da-tierInProgress,
.da-viewAsRoleButton,
.bd-switch,
.da-micTestButton,
.lookFilled-1Gx00P.colorPrimary-3b3xI6,
.da-installSize,
.da-bar,
.searchFilter-2ESiM3,
.searchAnswer-3Dz2-q,
.perk-2WeBWW,
.bd-pfbtn:hover {
  background: var(--background-accent) !important;
}

.themeDefault-24hCdX,
.bottomLeft-39-xss,
.bottomRight-1T56wW,
.topLeft-3buHIc,
.topRight-3GKDeL {
  background-color: var(--background-accent);
  border-radius: 20px;
}

.interactive-3B9GmY:hover,
.container-2x5lvQ section,
.container-2x5lvQ .header-2C89wJ,
.inner-2P4tQO {
  background: var(--background-floating) !important;
}

.codeRedemptionRedirect-1wVR4b,
.previewOverlay-2O7_KC,
.card-FDVird:before,
.notDetected-33MY4s,
.regionSelectModalOption-2DSIZ3,
.bd-search-wrapper {
  background: var(--deprecated-card-bg) !important;
}

.ui-tab-bar-item:hover,
.selectableItem-1MP3MQ:hover:not(.selected-31soGA),
.enabled-1t_Gxm:hover {
  background: var(--background-modifier-hover) !important;
}

.bd-switch-checked {
  background: var(--blurple) !important;
}

.gemIndicatorContainer-2jdECl,
.checkbox-1ix_J3,
.iconMask-3b8GzQ {
  background: none !important;
}

.headerDefault-1wrJcN,
.headerExpanded-CUEwZ5,
.changeDetails-bk98pu,
.headerClickable-2IVFo9 {
  background-color: transparent !important;
}

.headerSpotify-zpWxgT,
.topSectionSpotify-1lI0-P {
  background: #699378;
}

.background-3xPPFc {
  color: var(--background-accent) !important;
}

.previewOverlay-2O7_KC,
.card-FDVird:before {
  border-color: var(--background-tertiary) !important;
}

.css-n57xjs-menu {
  border-color: rgba(0, 0, 0, 0.6);
}

.da-searchBarComponent,
.da-result,
.da-button,
.da-upsellFooter,
.da-perksList,
.da-badge,
.da-auditLog,
.da-tooltip,
.da-userInfoEditing,
.da-userInfoViewing,
.da-botTag,
.layout-2DM8Md,
.input-2VB9rf,
.quickswitcher-3JagVE,
.hero-EvfTTA,
.feature-2w65J5,
.promotionBanner-1fCSab,
.itemCard-v9viV7,
.content-3at_AU,
.noiseCancellationPopout-iRK2A0,
.fullscreenOnMobile-1bD22y,
.menu-3sdvDG,
.item-1tOPte,
.container-3JTnYm,
.inputDefault-_djjkz,
.listRow-hutiT_,
.root-SR8cQa,
.userPopout-3XzG_A,
.scrollableContainer-2NUZem,
.bd-toasts > div,
.connectedAccount-36nQx7,
.checkbox-1ix_J3,
.input-cIJ7To,
.questionMark-CWEQZn,
.formNotice-2_hHWR,
.cardPrimaryOutline-29Ujqw,
.accountList-33MS45,
.connection-1fbD7X,
.connectionDelete-2Odoln,
.message-2qnXI6,
.wrapper-2aW0bm,
.container-2x5lvQ,
.content-3xS9Lh,
.messagesPopoutWrap-1MQ1bW,
.tab-ck0077,
.searchBar-3dMhjb,
.scrollerBase-289Jih > img,
.card-2Mz_4z,
.side-8zPYf6 .item-PXvHYJ,
.codeRedemptionRedirect-1wVR4b,
.cardWrapper-2Min21,
.card-3AyPWq,
.wrapper-3nSjSv,
.tier-1EY-yj,
.membershipDialog-rVL-t_,
.video-34IsHk,
.attendeeCTA-3ZZQWt,
.css-1a8reka-control,
.da-grabber,
.previewContainer-37c2Si,
.css-gd8if9-control,
.css-1yegjoj-control,
.container-CpszHS,
.wrapper-3jrx9n,
.card-FDVird:before,
.notDetected-33MY4s,
.addGamePopout-2RY8Ju,
.item-3eFBNF,
.ui-tab-bar-item,
.bd-addon-card,
.bda-settings-button,
.bd-button,
.bd-search-wrapper,
.clickable-3Ya1ho,
.fullscreenOnMobile-1aglG_,
.container-VSDcQc,
.autocompleteShadow-iiGWFU,
.rowInner-1vvRiF,
.wrapper-3WhCwL,
.embedVideo-3nf0O9,
.imageWrapper-2p5ogY,
.ctaBar-2UsjF2,
.tierMarkerLabelText-F_zS1F,
.perk-2WeBWW,
.icon-TYbVk4,
.card-3RzMcx,
.container-UC8Ug1,
.headerImage-3X1tyY,
.searchBox-3Y2Vi7,
.card-3DjzTQ,
.categoryPill-34fszg,
.css-12hk9yc-control,
.messageContainer-gbhlwo,
.jumpButton-2dvRSC,
.mention,
.marginTop4-2BNfKC,
.inviteRow-2L02ae,
.css-gvi9bl-control,
.css-17e1tep-control,
.overridePlaceholder-14_rPI,
.container-1s4HBn,
.flag-16iIBd,
.regionSelectModalOption-2DSIZ3,
.css-118dehu-control,
.colorPickerSwatch-5GX3Ve,
.colorPickerCustom-2CWBn2,
.saturation-1FDvtn > div,
.saturation-1FDvtn > div > div,
.saturation-black,
.hue-horizontal,
.elevationHigh-1PneE4,
.headerDefault-1wrJcN,
.header-GwIGlr,
.elevationBorderHigh-2WYJ09,
.selectableItem-1MP3MQ,
.guildSettingsAuditLogsUserFilterPopout-3Jg5NE,
.copyInputDefault-21sXtF,
.copyInputSuccess-XZc7BO,
.descriptionBox-1EKQKL,
.guildDetails-2p1NmK,
.guildIcon-nSLcmS,
.featureCard-1RR4Tl,
.searchBar-1YE5UV,
.elevationBorderLow-2qgTRQ,
.popoutListInput-1l9TUI,
.css-xpql1x-control,
.css-1313o0h-control,
.spacing-2jY1b4,
.bd-pfbtn,
.autocomplete-1vrmpx,
.base-1pYU8j,
.uploadModal-2ifh8j,
.icon-kyxXVr,
#bfredux,
.container-3LUQwT,
.search-3Zwf_3,
.iconContainer-1zobSR,
.wrapper-35wsBm,
.contentWrapper-SvZHNd,
.searchBar-5di9mG,
.categoryItemDefaultCategory-aBZ6nJ,
.emojiItem-14v6tW,
.diversitySelectorPopout-3FiGaM,
.gif-1TcNIB,
.categoryFade-2ybR1J,
.result-3w1ZcL:after,
.searchBar--fTZYa,
.categoryFadeBlurple-1j72_A,
.emptyHintCard-2mUdMe,
.container-3PXSwK,
.popout-38lTFE,
.wrapper-3Rixsz,
.memberListItem-31QoHj,
.optionContainer-15srkc,
.wrapper-39oAo3,
.channelContainer-1x3D6I {
  border-radius: 25px !important;
}

.cardPrimaryEditable-3KtE4g {
  border-radius: 20px !important;
}

code,
.featureImage-2L9kA0,
.premiumLogo-1D3iJc,
.inset-3sAvek,
.sourceThumbnail-27dolk,
.assetsLargeImageVoiceChannel-dGmxCi,
.cardWarning-2yPNAa,
.accountBtnInner-sj5jLs,
.bot-2Fta1w,
.bd-select-options,
.format {
  border-radius: 15px !important;
}

#popout_683 > div > div > section > canvas,
.modeDefault-3a2Ph1.da-modeDefault > canvas {
  border-radius: 10px;
}

.header-2C89wJ,
.css-2yldzf-control,
.connectionHeader-2MDqhu,
.da-tierHeader,
.header-1TKi98,
.css-1adxh11-control,
.css-6fzn47-control,
.headerExpanded-CUEwZ5,
.tierHeaderContent-2-YfvN,
.css-5symcw-control {
  border-radius: 25px 25px 0 0 !important;
}

.footer-2gL1pp,
.container-2x5lvQ section,
.css-n57xjs-menu,
.da-tierBody,
.css-3vaxre-menu,
.changeDetails-bk98pu,
.footer-3mqk7D {
  border-radius: 0 0 25px 25px !important;
}

.modalContent-BM7Qeh.da-modalContent
  > div:nth-child(1)
  > div
  > button:nth-child(1),
.modalContent-BM7Qeh.da-modalContent
  > div:nth-child(2)
  > div
  > button:nth-child(1),
.searchFilter-2ESiM3,
.overviewSidebar-auQZeh,
.before_inlineCode-1G9rTK,
.contentWrapper-3WC1ID {
  border-radius: 25px 0 0 25px;
}

.modalContent-BM7Qeh.da-modalContent
  > div:nth-child(1)
  > div
  > button:nth-child(4),
.modalContent-BM7Qeh.da-modalContent
  > div:nth-child(2)
  > div
  > button:nth-child(3),
.searchAnswer-3Dz2-q,
.after_inlineCode-1KfVgj,
.inviteSplash-40aHus {
  border-radius: 0 25px 25px 0;
}

.da-embedFull {
  border-radius: 4.5px 25px 25px 4.5px;
}

.panels-j1Uci_ {
  border-radius: 0 25px 0 0;
}

.sidebar-2K8pFh {
  border-radius: 25px 0 0 !important;
}

.connectionDelete-2Odoln,
.css-17e1tep-control,
.input-cIJ7To:hover,
.regionSelectModalOption-2DSIZ3,
.button-3Ijpww {
  border: none !important;
}

.userInfoSection-2acyCx {
  border-top: none !important;
}

.connectionHeader-2MDqhu,
.style-description,
.bd-addon-header,
.da-perkRow {
  border-bottom: none !important;
}

.bd-card-footer {
  border-top: none !important;
}

.multiInputLast-1aQ3YA::before,
.avatarUploaderIndicator-2G-aIZ,
.mentioned-xhSam7::before,
.divider-1pnAR2,
.micTestCaption-2xsa4I {
  display: none;
}

.role-2irmRk {
  position: relative;
  overflow: hidden;
  border: none;
  padding: 5px;
}

.roleCircle-3xAZ1j::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.2;
}

.quickSelectWrapper-UCfTKz {
  padding: 0 10px !important;
}

.wrapper-3WhCwL {
  padding: 0 4px !important;
}

.bd-addon-card {
  padding: 10px 20px !important;
}

.bda-settings-button,
.bd-search-wrapper,
.marginTop4-2BNfKC {
  padding: 5px 10px !important;
}

.searchBar-1YE5UV,
.popoutListInput-1l9TUI {
  padding: 2px 5px !important;
}

.searchAnswer-3Dz2-q {
  padding-right: 5px !important;
}

.searchFilter-2ESiM3 {
  padding-left: 5px !important;
}

.inputDefault-_djjkz {
  padding-left: 15px !important;
}

.item-3eFBNF,
.bd-addon-card {
  box-shadow: none !important;
  margin-top: 10px !important;
}

.da-auditLog,
.item-3eFBNF,
.bd-addon-card {
  border: solid 1px var(--background-tertiary) !important;
}

.badge-36LyGI,
.notice-3bPHh-,
.footer-1NnaNd,
.fullscreenOnMobile-1bD22y,
.footer-2gL1pp {
  box-shadow: none !important;
}

.ui-tab-bar-item {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 2px;
}

.bda-author,
.bda-link {
  color: white !important;
}

.tierHeaderLocked-1s2JJz,
.tierLock-3CSxSX,
.button-38qaLQ {
  color: var(--text-normal) !important;
}

.searchBarComponent-32dTOx,
.input-2VB9rf,
.textarea-2r0oV8 {
  text-align: center !important;
}

.input-2VB9rf {
  font-size: x-large;
}

.notice-3bPHh- {
  line-height: inherit !important;
}

.mentioned-xhSam7 {
  margin-left: 4px;
}

.footerImage-1CwWjz {
  content: url(https://svgshare.com/i/QDr.svg);
  height: 64px;
}

.content-8hp7TM.da-content > img {
  content: url(https://svgshare.com/i/QDF.svg);
}

.inviteRow-2L02ae {
  width: 420px;
}

.css-3vaxre-menu {
  border: solid 1px rgba(0, 0, 0, 0.6);
}

.regionSelectModalOption-2DSIZ3:hover {
  border: solid var(--blurple) 3px !important;
}

.colorPickerDropper-3c2mIf {
  position: unset !important;
}

.bd-pfbtn {
  padding: 2px 6px;
}

.textarea-2r0oV8 {
  line-height: 25px !important;
  height: 36px !important;
}

.container-3PXSwK {
  transform: translateY(-50%);
  top: 50%;
  height: 30px;
}

.notches-1sAcEM.gray-3_LNYR,
.notches-1sAcEM.black-1D3qCv {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%23292841'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E") !important;
}